<%- include('layout', { title: "About Us" }) %>

<h1 class="mb-4">About Us</h1>
<p>We are a team of developers passionate about blogging and sharing knowledge.</p>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Our Mission</h5>
                <p class="card-text">To create a platform where ideas can be shared and knowledge can be exchanged.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Our Vision</h5>
                <p class="card-text">Empowering individuals through informative and engaging content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Join Us</h5>
                <p class="card-text">Be a part of our community and share your insights.</p>
            </div>
        </div>
    </div>
</div>
